body.front {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
.front input {
  background: transparent;
  border: none;
  font-weight: normal;
  border-bottom: 1px solid #888;
}
.front input:focus {
  outline: none;
}
.front h1,
.front h2,
.front h3 {
  text-transform: uppercase;
  text-align: center;
}
.front h1 {
  font-size: 50px;
}
.front .f-item {
  padding: 15px 0 20px 0;
  border-bottom: 1px solid #fff;
  min-height: 70px;
}
.front .f-item > .middle {
  overflow: hidden;
}
.front .f-item form label,
.front .f-item form input {
  width: 98%;
}
.front .f-item:last-child {
  border-bottom: none;
}
.front .small {
  color: #aaa;
}
.front .checkbox {
  margin: 5px 10px 10px 10px;
  height: 22px;
  width: 22px;
  border: 1px solid #999;
  text-align: center;
}
.front .btn-default {
  color: #2f4050;
}
.front .btn-xs .fa {
  width: 11px;
}
.front .friend-name {
  padding-top: 6px;
  font-size: 18px;
}
.front .friends-container {
  padding-left: 10px;
  padding-right: 10px;
}
