<section>
  <div class="page-header">
    <h1>{{ wish._id ? 'Wish: ' + wish.name : 'New wish' }}</h1>
  </div>
  <div class="col-md-12">
    <form name="wishForm" ng-submit="updateWish(wishForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="name">Name</label>
          <input type="text" id="name" name="name" class="form-control" ng-model="wish.name" placeholder="Name" required />
          <div ng-messages="wishForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="description">Description</label>
          <input type="text" id="description" name="description" class="form-control" ng-model="wish.description" placeholder="Description" required />
          <div ng-messages="wishForm.description.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Description is required.</p>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="{{ wish._id ? 'Update' : 'Add' }}" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
