<section>
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-4">
      <h2>My wishes</h2>
      <ol class="breadcrumb">
        <li>
          <a ui-sref="home">Home</a>
        </li>
        <li>
          <a>My wishes</a>
        </li>
        <li class="active">
          <strong>{{ vm.profile.user.displayName }}</strong>
        </li>
      </ol>
    </div>
    <div class="col-md-4" style="margin-top: 2em">
      <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()"/>
    </div>
    <a class="btn btn-primary pull-right" style="margin-top: 2em; margin-right: 1em" ui-sref="wishes.new">
      New wish
    </a>
  </div>
  <div class="wrapper wrapper-content">

    <div class="list-group">
      <a ng-repeat="wish in pagedItems" class="list-group-item">
        <div class="pull-left">
          <h4 class="list-group-item-heading" ng-bind="wish.name"></h4>
          <p class="list-group-item-text small" ng-bind="wish.description"></p>
        </div>
        <div class="pull-right">
          <div class="btn btn-sm btn-primary" ng-click="setGranted(wish)">
            Got it!
          </div>
          <div class="btn btn-sm btn-primary" ng-click="delete(wish)">
            <span class="fa fa-remove"></span>
          </div>
          <div class="btn btn-sm btn-primary" ui-sref="wishes.edit({ wishId : wish._id })">
            <span class="fa fa-edit"></span>
          </div>
        </div>
        <div style="clear: both"></div>
      </a>
    </div>

    <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
  </div>

  <div class="row wrapper border-bottom white-bg page-heading" ng-if="grantedWishes.length">
    <div class="col-md-4">
      <h2>Granted wishes</h2>
    </div>
  </div>
  <div class="wrapper wrapper-content" ng-if="grantedWishes.length">

    <div class="list-group">
      <a ng-repeat="wish in grantedWishes" class="list-group-item">
        <h4 class="list-group-item-heading" ng-bind="wish.name"></h4>
        <p class="list-group-item-text small" ng-bind="wish.description"></p>
      </a>
    </div>
  </div>
</section>
