<section>
  <div class="row wrapper border-bottom white-bg page-heading">

    <h1 class="col-md-4" ng-bind="vm.title"></h1>

    <div class="col-md-4 text-danger" ng-bind="vm.error" style="margin-top: 2em"></div>
    <div class="col-md-4" style="margin-top: 2em">
      <form class="form form-inline pull-right" ng-submit="vm.search()">
        <div class="form-group">
          <input class="form-control" type="text" ng-model="vm.searchQuery" placeholder="Search" ng-change="vm.onChange()"/>
        </div>
        <div class="btn btn-primary" ng-click="vm.search()" ng-if="!vm.isSearchResult"><span class="fa fa-search"></span></div>
        <div class="btn btn-primary" ng-click="vm.clear()" ng-if="vm.isSearchResult"><span class="fa fa-close"></span></div>
      </form>
    </div>
  </div>
  <div class="wrapper wrapper-content">
  <div class="list-group">
    <div ng-repeat="user in vm.users" class="list-group-item" ui-sref="user({ userId : user._id })">
      <div class="pull-left">
        <h4 class="list-group-item-heading" ng-bind="user.displayName"></h4>
        <small class="list-group-item-text">
          <span ng-bind="user.email"></span>
        </small>
      </div>
      <div class="pull-right">
        <div class="btn btn-primary" ng-if="vm.isSearchResult" ng-click="vm.add(user)"><span class="fa fa-plus"></span></div>
        <div class="btn btn-primary" ng-if="!vm.isSearchResult" ng-click="vm.remove(user)"><span class="fa fa-minus"></span></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.users.$resolved && !vm.users.length">
    {{ vm.empty }}
  </div>
  </div>
</section>
