<section>
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>Profile</h2>
      <ol class="breadcrumb">
        <li>
          <a ui-sref="home">Home</a>
        </li>
        <li>
          <a>Users</a>
        </li>
        <li class="active">
          <strong>{{ vm.profile.user.displayName }}</strong>
        </li>
      </ol>
    </div>
    <div class="col-lg-2">

    </div>
  </div>
  <div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">

      <div class="col-md-8">

        <div class="m-b-lg m-t-lg">
          <div class="col-md-6">

            <div class="profile-image">
              <img class="img-circle circle-border m-b-md" alt="profile" ng-src="{{ vm.profile.user.profileImageURL ? vm.profile.user.profileImageURL : '/modules/users/client/img/profile/default.png' }}">
            </div>
            <div class="profile-info">
              <div class="">
                <div>
                  <h2 class="no-margins">
                    {{ vm.profile.user.displayName }}
                  </h2>
                  <small>
                    {{ vm.profile.user.email }}
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <table class="table small m-b-xs">
              <tbody>
              <tr>
                <td>
                  <strong>142</strong> Following
                </td>
                <td>
                  <strong>22</strong> Followers
                </td>

              </tr>
              <tr>
                <td>
                  <strong>61</strong> Available wishes
                </td>
                <td>
                  <strong>54</strong> Granted wishes
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Wishes</h5>
          </div>
          <div class="ibox-content">
            <div>
              <div class="feed-activity-list">
                <div ng-repeat="wish in vm.profile.wishes" class="feed-element">
                  <div class="pull-left media-body">
                    <h4 ng-bind="wish.name" style="display: inline"></h4>
                    <i class="text-muted" ng-if="wish.reserved">(Reserved)</i>
                    <br>
                    <p class="text-muted" ng-bind="wish.description"></p>
                  </div>
                  <div class="pull-right">
                    <div class="actions" ng-if="!vm.profile.isOwnProfile">
                      <div class="btn btn-xs btn-primary" ng-if="!wish.reserved" ng-click="vm.reserve(wish)"><i class="fa fa-check"></i> I will get you that!</div>
                      <div class="btn btn-xs btn-white" ng-click="vm.addToMyList(wish)">I want that too!</div>
                    </div>
                    <div class="actions" ng-if="vm.profile.isOwnProfile">
                      <div class="btn btn-xs btn-white" ng-click="delete(wish)"><i class="fa fa-trash"></i> Remove</div>
                      <div class="btn btn-xs btn-white" ui-sref="wishes.edit({ wishId : wish._id })"><i class="fa fa-edit"></i> Edit</div>
                    </div>
                  </div>
                  <div style="clear: both"></div>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>

      <div class="col-md-4">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Following</h5>
          </div>
          <div class="ibox-content">

            <div class="feed-activity-list">

              <div class="feed-element" ng-repeat="friend in vm.profile.user.friends" ui-sref="user({ userId: friend._id })">
                <div class="pull-left">
                  <img alt="image" class="img-circle" ng-src="{{ friend.profileImageURL ? friend.profileImageURL : '/modules/users/client/img/profile/default.png' }}">
                </div>
                <div class="media-body">
                  <small class="pull-right btn btn-sm btn-primary" ng-if="vm.shouldShowFollowButton(friend)">Follow</small>
                  <strong>{{ friend.displayName }}</strong>
                  <br>
                  <small class="text-muted">64 wishes</small>

                </div>
              </div>
            </div>


          </div>
        </div>

      </div>
    </div>
  </div>
</section>
