<section ng-controller="HomeController">

  <div class="wrapper wrapper-content">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center m-t-lg">

          <a class="btn btn-lg btn-primary" href="front" target="_self">
            FRONT PANEL
          </a>

        </div>
      </div>
    </div>
  </div>
</section>
