body.front {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.front {
  input {
    background: transparent;
    border: none;
    font-weight: normal;
    border-bottom: 1px solid #888;
  }

  input:focus {
    outline: none;
  }

  h1, h2, h3 {
    text-transform: uppercase;
    text-align: center;
  }

  h1 {
    font-size: 50px;
  }

  .f-item {
    padding: 15px 0 20px 0;
    border-bottom: 1px solid #fff;
    min-height: 70px;
  }

  .f-item>.middle {
    overflow: hidden;
  }

  .f-item form label,
  .f-item form input {
    width: 98%;
  }

  .f-item:last-child {
    border-bottom: none;
  }

  .small {
    color: #aaa;
  }

  .checkbox {
    margin: 5px 10px 10px 10px;
    height: 22px;
    width: 22px;
    border: 1px solid #999;
    text-align: center;
  }

  .btn-default {
    color: #2f4050;
  }

  .btn-xs .fa {
    width: 11px;
  }

  .friend-name {
    padding-top: 6px;
    font-size: 18px;
  }

  .friends-container {
    padding-left: 10px;
    padding-right: 10px;
  }

}