<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Reserved wishes</h1>
      </div>
    </div>
  </div>
  <div class="list-group">
    <a ng-repeat="wish in wishes" class="list-group-item">
      <div class="pull-left">
        <h4 class="list-group-item-heading" ng-bind="wish.name"></h4>
        <p class="list-group-item-text small" ng-bind="wish.description"></p>
      </div>
      <div class="pull-right">
        <div class="actions">
          <div class="btn btn-sm btn-primary" ng-click="delete(wish)">
            I can't get you that... sorry.
          </div>
        </div>
      </div>
      <div style="clear: both"></div>
    </a>
  </div>
</section>
