<section>

  <div class="wrapper wrapper-content container">
    <div class="text-center m-t-sm">
      <a href="/" target="_self">
        <h1 style="color: #fff">
          {{ vm.title }}
        </h1>
      </a>
    </div>

    <div class="row">

      <div class="col-sm-4" ng-if="!vm.user">
        <h2>Sign in</h2>
        <form name="userForm" ng-submit="vm.signIn(userForm.$valid)" class="signin" novalidate autocomplete="off">
          <fieldset>
            <div class="form-group" show-errors>
              Username
              <input type="text" id="username" name="username" class="form-control" ng-model="vm.credentials.username" placeholder="Username" lowercase required>
              <div ng-messages="vm.userForm.username.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Username is required.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              Password
              <input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password" placeholder="Password" required>
              <div ng-messages="vm.userForm.password.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Password is required.</p>
              </div>
            </div>
            <div class="text-center form-group">
              <button type="submit" class="btn btn-default">Sign in</button>
            </div>
            <alert type="danger" ng-show="vm.signInError" class="text-center text-danger">
              <span ng-bind="vm.signInError"></span>
            </alert>
          </fieldset>
        </form>
      </div>

      <div class="col-sm-4">

        <h2>My wishes</h2>

        <div>

          <div class="f-item" ng-repeat="wish in vm.myWishes" ng-click="vm.myWishesEdit(wish)">

            <div class="checkbox pull-left" ng-click="vm.myWishesGrant(wish)">
              <span class="fa fa-check" ng-if="wish.granted"></span>
            </div>

            <div ng-if="wish._id !== vm.myWishEditing._id">
              {{ wish.name }}
              <div class="small">
                {{ wish.description }}
              </div>
            </div>

            <div class="pull-right" ng-if="wish._id === vm.myWishEditing._id">
              <div class="btn btn-default btn-xs" ng-click="vm.myWishesEditSave(wish)"><span class="fa fa-check"></span></div>
              <div class="btn btn-default btn-xs" ng-click="vm.myWishesRemove(wish)"><span class="fa fa-trash"></span></div>
            </div>

            <form class="middle" ng-if="wish._id === vm.myWishEditing._id" ng-submit="vm.myWishesEditSave(wish)">
              <label>
                <input type="text" name="title" ng-model="wish.name">
              </label>
              <div class="small">
                <label>
                  <input type="text" name="description" ng-model="wish.description">
                </label>
              </div>
            </form>

          </div>

          <div class="f-item">

            <div class="checkbox pull-left">
            </div>

            <div class="pull-right">
              <div class="btn btn-default btn-xs" ng-click="vm.myWishesAdd()"><span class="fa fa-plus"></span></div>
            </div>

            <form class="middle" ng-submit="vm.myWishesAdd()">
              <label>
                <input type="text" placeholder="What do you want?" ng-model="vm.newWish.name">
              </label>
              <div class="small">
                <label>
                  <input type="text" placeholder="Any more info?" ng-model="vm.newWish.description">
                </label>
              </div>
            </form>

          </div>

        </div>

      </div>

      <div class="col-sm-4" ng-if="vm.user">

        <h2>Friends</h2>

        <div class="friends-container" style="background-color: #3f5567">
          <input class="form-control" type="text" ng-model="vm.searchQuery" placeholder="Search" ng-change="vm.search()"/>

          <div class="feed-element f-item" ng-repeat="user in vm.friendsSearchResults">
            <div class="pull-left">
              <img alt="image" class="img-circle" ng-src="{{ user.profileImageURL ? user.profileImageURL : '/modules/users/client/img/profile/default.png' }}">
            </div>
            <div class="pull-right">
              <div class="btn btn-xs btn-default" ng-click="vm.addFriend(user)"><span class="fa fa-plus"></span></div>
            </div>
            <div class="friend-name">{{ user.displayName }}</div>
          </div>

          <div class="small m-sm" ng-if="vm.friendsSearchResults && vm.friendsSearchResults.length === 0">
            No search results.
          </div>

        </div>

        <h3 class="m-t-md">My Friends</h3>

        <div class="friends-container">
          <div class="feed-element f-item" ng-repeat="friend in vm.friends">
            <div class="pull-left">
              <img alt="image" class="img-circle" ng-src="{{ friend.profileImageURL ? friend.profileImageURL : '/modules/users/client/img/profile/default.png' }}">
            </div>
            <div class="pull-right" ng-if="vm.profile">
              <div class="btn btn-xs btn-default" ng-click="vm.removeFriend(friend)"><span class="fa fa-trash"></span></div>
              <div class="btn btn-xs btn-default" ng-click="vm.profile = null"><span class="fa fa-remove"></span></div>
            </div>
            <div class="friend-name" ng-click="vm.loadProfile(friend)">{{ friend.displayName }}</div>

            <div class="friend-wishes" ng-if="vm.profile && vm.profile.user._id === friend._id">
              <div class="f-item" ng-repeat="wish in vm.profile.wishes">

                <div class="pull-right text-center">
                  <div class="btn btn-default btn-xs" ng-click="vm.wishReserve(wish)" ng-if="!wish.reserved"><span class="fa fa-check"></span></div>
                  <div class="btn btn-default btn-xs" ng-click="vm.wishReplicate(wish)"><span class="fa fa-plus"></span></div>
                </div>
                <div>{{ wish.name }} <i class="small" ng-if="wish.reserved"> (Reserved)</i></div>
                <div class="small">
                  {{ wish.description }}
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-sm-4" ng-if="vm.user">

        <h2>Promised wishes</h2>

        <div>

          <div class="f-item" ng-repeat="wish in vm.reservedWishes">

            <div class="checkbox pull-left">
              <span class="fa fa-check" ng-if="wish.granted"></span>
            </div>
            <div class="pull-right">
              <div class="btn btn-default btn-xs" ng-click="vm.wishUnreserve(wish)">
                I can't get you that
              </div>
            </div>

            {{ wish.name }}
            <div class="small">
              {{ wish.description }}
            </div>

          </div>

          <div class="f-item" ng-if="!vm.reservedWishes || vm.reservedWishes.length === 0">
            <div class="small">
              To promise a wish, find your friends, add them to your list and check out their wishes.
            </div>
          </div>

        </div>

      </div>

      <div class="col-sm-4" ng-if="!vm.user">
        <h2>Sign up</h2>
        <form name="userForm" ng-submit="vm.signUp()" class="signin" novalidate autocomplete="off">
          <fieldset>
            <div class="form-group" show-errors>
              First Name
              <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.signUpCredentials.firstName" placeholder="First Name" required>

              <div ng-messages="userForm.firstName.$error" role="alert">
                <p class="help-block error-text" ng-message="required">First name is required.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              Last Name
              <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.signUpCredentials.lastName" placeholder="Last Name" required>

              <div ng-messages="userForm.lastName.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Last name is required.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              Email
              <input type="email" id="email" name="email" class="form-control" ng-model="vm.signUpCredentials.email" placeholder="Email" lowercase required>

              <div ng-messages="userForm.email.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Email address is required.</p>

                <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              Username
              <input type="text" name="username" class="form-control" ng-model="vm.signUpCredentials.username" placeholder="Username" lowercase required>

              <div ng-messages="userForm.username.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Username is required.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              Password
              <input type="password" name="password" class="form-control" ng-model="vm.signUpCredentials.password" placeholder="Password" popover="{{popoverMsg}}" popover-trigger="focus" password-validator required>

              <div ng-messages="userForm.password.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Password is required.</p>

                <div ng-repeat="passwordError in passwordErrors">
                  <p class="help-block error-text" ng-show="userForm.password.$error.requirements">{{passwordError}}</p>
                </div>
              </div>
            </div>
            <div class="form-group" ng-show="!userForm.password.$error.required">
              Password Requirements
              <progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></progressbar>
            </div>
            <div class="text-center form-group">
              <button type="submit" class="btn btn-default">Sign up</button>
            </div>
            <div ng-show="error" class="text-center text-danger">
              <strong ng-bind="error"></strong>
            </div>
          </fieldset>
        </form>
      </div>

    </div>

  </div>
</section>
